.contact-us-cont {
  // margin-top: 70px;
  height: auto;
  // width: 80%;
  .contact {
    padding: 4%;
    height: 400px;
  }
  .col-md-3 {
    background: #131f35;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .contact-info {
    margin-top: 10%;
  }
  .contact-info img {
    margin-bottom: 15%;
  }
  .contact-info h2,
  .contact-info h4 {
    margin-bottom: 10%;
    color: white;
  }
  .col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .contact-form label {
    font-weight: 600;
  }
  .contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
  }
  .contact-form button:focus {
    box-shadow: none;
  }
  @media screen and (max-width: 775px) {
  }
}

// ////////////////////////@at-root

// .form-cont {
//   background-color: white;
//   width: 80%;
//   margin: auto;
//   display: flex;
//   justify-content: space-between;
//   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
//   margin-top: 20px;
//   border-radius: 5px;

//   .picture {
//     background-image: url("https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5pa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
//     // background-repeat: no-repeat;
//     background-size: cover;
//     padding: 20px;
//     h2,
//     h4 {
//       color: white;
//       margin-bottom: 10%;
//     }
//   }
//   .form-inputs {
//     width: 100%;
//     padding: 20px;
//   }
//   .form-section {
//     margin-bottom: 30px;
//   }
// }
