.product-list .navbar {
  display: inline-flex;
}

.product-list .pagination .page-item .page-link {
  color: #333;
  border: none;
  width: 40px;
  text-align: center;
}

.product-list .pagination .page-item.active .page-link {
  background-color: #fff;
  border: 1px solid #333;
}

.product-list select {
  outline: none;
  padding: 6px 12px;
  margin: 0px 4px;
  color: #999;
  font-size: 0.85rem;
  width: 140px;
}

.product-list #select2 {
  border: 1px solid #777;
  color: #999;
}

.product-list #pro {
  border: none;
  color: #333;
  font-weight: 700;
  padding-left: 0px;
  width: initial;
}
@media screen and (max-width: 1200px) {
  .product-dilter-side-menu {
    position: absolute;
    z-index: 2;
    border: 1px solid #c0c2c3;
    height: 100%;
    background-color: #fff;
    width: 0;
    height: 0;
  }
}

.product-dilter-side-menu {
  margin-top: 1.5rem !important;
  width: 0;
  height: 0;
  overflow: hidden;

  transition: all 0.5s ease;
}

.product-list #filterbar input[type="radio"] {
  visibility: hidden;
}

.product-list #filterbar input[type="radio"]:checked {
  background-color: #16c79a;
  border: none;
  position: absolute;
}

.product-list #filterbar .btn.btn-success {
  background-color: #ddd;
  color: #333;
  border: none;
  width: 115px;
}

.product-list #filterbar .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}

#filterbar .btn-success:not(:disabled):not(.disabled).active,
#filterbar .btn-success:not(:disabled):not(.disabled):active {
  background-color: #16c79a;
  color: #fff;
}

.product-list label {
  cursor: pointer;
}

.product-list .tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0;
}

.product-list .tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.show-filter {
  min-height: 300px;
  min-width: 300px;
  transition: all 0.5s ease;
}

.product-list .check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.product-list .tick:hover input ~ .check {
  background-color: #f3f3f3;
}

.product-list .tick input:checked ~ .check {
  background-color: #ffffff;
}

.product-list .check:after {
  content: "";
  position: absolute;
  display: none;
}

.product-list .tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1);
}

.product-list .tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2);
}

.product-list .box {
  padding: 10px;
}

.product-list .box-label {
  justify-content: space-between;
}

.product-list #price {
  min-height: 45px;
}
