.header__image2 {
  display: flex;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  /* height: 512px; */
  display: flow-root;

  margin-bottom: 70px;
}

.Text-container-Upper2 {
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.Upper-details {
  white-space: nowrap;
  font-size: 18px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 1000px) {
  .Text-container-Upper2 {
    margin-top: 50px;
  }

  .Upper-details {
    display: none;
  }
}
