code {
  font-family: "Poppins", sans-serif;
}
.main_body {
  padding-top: 43px;
  min-height: 100vh;
  width: 100%;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(191 191 191 / 30%);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
}
a {
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.notification:hover {
  color: rgb(91, 168, 220);
}
body {
  background: #f9f9f9;
}
